.completed {
  color: green;
  text-decoration: line-through;
}
.pending {
  color: red;
  text-decoration: none;
}
.to-do {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.to-do-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;

  background-color: aliceblue;

  min-height: 500px;
  min-width: 90vw;
  margin: 24px;

  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

  overflow: auto;
}

.to-do__list {
  max-width: 90%;
  padding: 0;
  margin-top: 15px;
}

.to-do__item {
  list-style-type: decimal;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 15px;
}
.form {
  width: 85%;
}
.form__input {
  width: 90%;
  height: 30px;
  border: 1px solid black;
  border-radius: 8px;
  margin-right: 8px;
}

.form__button {
  width: 70px;
  height: 30px;
  border-radius: 8px;
  border: 0;
  cursor: pointer;
  background-color: rgb(120, 184, 25);
}
